* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  margin-top: 50px;
  width: 960px;
  height: 960px;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

div {
  border: 1px solid #000;
  /* height: 20px;
  width: 20px; */
  text-align: center;
  transition: 0.5s;
}

.active {
  background-color: aqua;
}
